<h1>Error 404: Page Not Found</h1>
<p>The page you were looking for doesn't seem to exist. Maybe it's been moved,
    or check the URL if you typed it in.</p>
<style>
    body {
        text-align: center;
    }
</style>