<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Your Cart</h2>
            <hr>
            <div class="table-responsive">
                <table class="table ">
                    <thead>
                        <tr>
                            <th>Quantity</th>
                            <th>Item</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each session.user.cartItems}}
                        <tr>
                            <td>{{quantity}}</td>
                            <td>{{item}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>