<div class="container-fluid">

    <h2>{{session.product.title}}</h2>
    <hr>
    <img src="/Images/{{session.product.src}}" />
    <hr>
    <h4>{{session.product.description}}</h4>
    <hr>
    <a href="/register" class="btn btn-success">Add To Cart</a>
</div>