h1, h2, h3, h4, h5, h6 {
    font-family: 'Abril Fatface', cursive;
    color: maroon;
}

p {
    font-family: 'Open Sans', sans-serif;
    color: white;
}
#header{
    font-family: 'Open Sans', sans-serif;
    color: grey;
}

#headerNow{
    color: maroon;
}

body {
    background-color: rgb(22, 22, 22);
}

.navbar {
    border-color: maroon;
    background-color: maroon;
    font-family: 'Open Sans', sans-serif;
    color: white;

}

.navbar-toggle {
    background-color: whitesmoke;
}

legend {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

label {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

#theHeader{
    color: white;
    font-family: 'Abril Fatface', cursive;
}

th,td{
    font-family: 'Open Sans', sans-serif;
    color: white;
}