h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: lightblue;
}
aside{
    text-align: center;
}
p {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-color: rgb(22, 22, 22);
    text-align: center;
}

.navbar {
    border-color: white;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.navbar-toggle {
    background-color: whitesmoke;
}

legend {
    font-family: 'Roboto', sans-serif;
    color: white;
}

label {
    font-family: 'Roboto', sans-serif;
    color: white;
}

#theHeader{
    color: lightblue;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

th,td{
    font-family: 'Roboto', sans-serif;
    color: white;
}

#remove{
    font-family: 'Roboto', sans-serif;
}

#header{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 110%;
}

#header:hover{
    color:blue;
}
h2{
    font-size: 500%;
}
p{
    font-size: 300%;
}
.navbar-form, .navbar-nav{
    margin-top: 60px;
}
#products{
    color: white;
    font-size: 200%;
}
a{
    color: white;
}